@import "tailwindcss";

:root {
  --color-primary: #FF9900;
  --color-primary-dark: #E88B00;
  --color-secondary: #232f3e;
  --color-secondary-dark: #131921;
  --color-bg-light: #f5f5f5;
  --color-text-main: #111827;
  --color-text-muted: #6b7280;
  
  --font-sans: "Inter", sans-serif;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-secondary: var(--color-secondary);
  --color-secondary-dark: var(--color-secondary-dark);
  --color-bg-light: var(--color-bg-light);
  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);
  
  --font-sans: var(--font-sans);
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}
