@import "tailwindcss";

:root {
  --color-primary: #e87c50;
  --color-primary-dark: #d66a3e;
  --color-secondary: #212121;
  --color-secondary-dark: #000000;
  --color-accent: #e87c50;
  --color-bg-light: #F5F5F5;
  --color-text-main: #212121;
  --color-text-muted: #757575;
  
  --font-sans: "Inter", sans-serif;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-secondary: var(--color-secondary);
  --color-secondary-dark: var(--color-secondary-dark);
  --color-accent: var(--color-accent);
  --color-bg-light: var(--color-bg-light);
  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);
  
  --font-sans: var(--font-sans);
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}
